<ion-header>
  <ion-toolbar>
    <ion-title>Expenses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <h4> Monthly Expenses: {{ getTotalExpenses() | currency }} </h4>
    </ion-card-header>

    <ion-card-content>
        <div style="display: block">
            <canvas baseChart
              [data]="getAmounts()"
              [labels]="getLabels()"
              [chartType]="'doughnut'"></canvas>
          </div>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header><h4> Expenses </h4></ion-card-header>
    <ion-card-content>
        <app-expense-list [expenses]="expenses"></app-expense-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button (click)="openNewExpenseDialog()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>