<ion-header>
  <ion-toolbar>
    <ion-title>Income</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <h4>Monthly Income: {{ getTotalIncome() | currency }}</h4>
    </ion-card-header>
    <ion-card-content>
      <app-income-list [incomeList]="incomes"></app-income-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button (click)="openNewIncomeDialog()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>